In [261]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [262]:
path = "flight_data/"

nodes_col_Names = ['Airport_ID', 'Name', 'City', 'Country', 'IATA', 'ICAO', 'Latitude', 'Longitude', 'Altitude', 'Timezone', 'DST', 'Tz_database_time_zone', 'Type', 'Source']
edges_col_Names = ['Airline', 'Airline_ID', 'Source_Airport', 'Source_Airport_ID', 'Destination_Airport', 'Destination_Airport_ID', 'Codeshare', 'Stops', 'Equipment']

nodes_df = pd.read_csv(path+'/airports.dat', names = nodes_col_Names)
edges_df = pd.read_csv(path+'/routes.dat', names = edges_col_Names)

nodes_df.shape

(7184, 14)

In [263]:
c_1 = pd.read_csv('data/Countries-Continents.csv')
c_1.loc[len(c_1)]=['Asia','Russia'] 
c_1.loc[len(c_1)]=['North America','United States'] 
c_1.loc[len(c_1)]=['Africa','Cote d\'Ivoire'] 
c_1.loc[len(c_1)]=['Africa','Congo (Kinshasa)'] 
c_1.loc[len(c_1)]=['Asia','South Korea'] 
c_1.loc[len(c_1)]=['Asia','Burma'] 
c_1.loc[len(c_1)]=['Europe','Czech Republic'] 
c_1.loc[len(c_1)]=['Asia','North Korea'] 
c_1.loc[len(c_1)]=['Antarctica','Antarctica'] 
c_1.loc[len(c_1)]=['Antarctica','Antarctica'] 
c_1.loc[len(c_1)]=['Asia','Taiwan'] 
c_1.loc[len(c_1)]=['Africa','Congo (Brazzaville)'] 
c_1.loc[len(c_1)]=['Africa','Reunion'] 
c_1.loc[len(c_1)]=['Asia','West Bank'] 
c_1.loc[len(c_1)]=['Asia','Taiwan'] 
c_1.loc[len(c_1)]=['North America','Greenland'] 
c_1.loc[len(c_1)]=['Africa','Burkina Faso'] 
c_1.loc[len(c_1)]=['Europe','Guernsey'] 
c_1.loc[len(c_1)]=['Europe','Jersey']
c_1.loc[len(c_1)]=['Europe','Isle of Man']
c_1.loc[len(c_1)]=['Europe','Isle Of Man']
c_1.loc[len(c_1)]=['South America','Falkland Islands'] 
c_1.loc[len(c_1)]=['Africa','Dzaoudzi'] 
c_1.loc[len(c_1)]=['North America','Saint Pierre and Miquelon'] 
c_1.loc[len(c_1)]=['Europe','Gibraltar']
c_1.loc[len(c_1)]=['South America','British Virgin Islands']
c_1.loc[len(c_1)]=['Europe','Faroe Islands']
c_1.loc[len(c_1)]=['Oceania','French Polynesia']
c_1.loc[len(c_1)]=['South America','Puerto Rico']
c_1.loc[len(c_1)]=['South America','Guadeloupe']
c_1.loc[len(c_1)]=['Oceania','New Caledonia']
c_1.loc[len(c_1)]=['Oceania','Cocos (Keeling) Islands']
c_1.loc[len(c_1)]=['South America','Turks and Caicos Islands']
c_1.loc[len(c_1)]=['Oceania','Cook Islands']
c_1.loc[len(c_1)]=['Europe','Svalbard']
c_1.loc[len(c_1)]=['South America','American Samoa']
c_1.loc[len(c_1)]=['South America','French Guiana']
c_1.loc[len(c_1)]=['Asia','Guam']
c_1.loc[len(c_1)]=['Asia','Northern Mariana Islands']
c_1.loc[len(c_1)]=['South America','Virgin Islands']
c_1.loc[len(c_1)]=['Europe','Netherlands Antilles']
c_1.loc[len(c_1)]=['Asia','Hong Kong']
c_1.loc[len(c_1)]=['Oceania','Christmas Island']
c_1.loc[len(c_1)]=['North America','Bermuda']
c_1.loc[len(c_1)]=['Africa','Western Sahara']
c_1.loc[len(c_1)]=['North America','Cayman Islands']


nodes_df = nodes_df.merge(c_1, on='Country', how="left")
nodes_df.sort_values(by="Altitude", ascending=False)
nodes_df.shape

(7215, 15)

In [264]:
# show airports without continent -> missing -> add manually above
nodes_df[nodes_df['Continent'].isnull()].shape

(17, 15)

In [265]:
nodes_df["Continent"].value_counts()

North America    2151
Asia             1618
Europe           1476
Africa            707
South America     690
Oceania           542
Antarctica         14
Name: Continent, dtype: int64

In [266]:
nodes_df = nodes_df[['Airport_ID', 'Name', 'Latitude', 'Longitude', 'Country', 'Continent', 'IATA', 'ICAO', 'Altitude']]
#nodes_df = nodes_df.set_index('Airport_ID')
nodes_df.columns = ['Airport_ID', 'Name', 'lat', 'lon', 'country', 'continent', 'IATA', 'ICAO', 'Altitude']
nodes_df.head()

,Airport_ID,Name,lat,lon,country,continent,IATA,ICAO,Altitude
0,1,Goroka Airport,-6.081690,145.391998,Papua New Guinea,Oceania,GKA,AYGA,5282
1,2,Madang Airport,-5.207080,145.789001,Papua New Guinea,Oceania,MAG,AYMD,20
2,3,Mount Hagen Kagamuga Airport,-5.826790,144.296005,Papua New Guinea,Oceania,HGU,AYMH,5388
3,4,Nadzab Airport,-6.569803,146.725977,Papua New Guinea,Oceania,LAE,AYNZ,239
4,5,Port Moresby Jacksons International Airport,-9.443380,147.220001,Papua New Guinea,Oceania,POM,AYPY,146

In [267]:
_dict = nodes_df.to_dict(orient='records')
_dict[1]

{'Airport_ID': 2,
 'Name': 'Madang Airport',
 'lat': -5.20707988739,
 'lon': 145.789001465,
 'country': 'Papua New Guinea',
 'continent': 'Oceania',
 'IATA': 'MAG',
 'ICAO': 'AYMD',
 'Altitude': 20}

In [58]:
nodes_cluster_degree = pd.read_csv('../data/airports_cluster_degree.csv', index_col=0)
merge = nodes_df.merge(nodes_cluster_degree, on="Airport_ID")
merge.head()

,Airport_ID,Name,lat,lon,country,continent,IATA,ICAO,Altitude,cluster_coefficient,degree
0,1,Goroka Airport,-6.081690,145.391998,Papua New Guinea,Oceania,GKA,AYGA,5282,1.000000,10.0
1,2,Madang Airport,-5.207080,145.789001,Papua New Guinea,Oceania,MAG,AYMD,20,0.571429,16.0
2,3,Mount Hagen Kagamuga Airport,-5.826790,144.296005,Papua New Guinea,Oceania,HGU,AYMH,5388,0.388889,22.0
3,4,Nadzab Airport,-6.569803,146.725977,Papua New Guinea,Oceania,LAE,AYNZ,239,0.388889,22.0
4,5,Port Moresby Jacksons International Airport,-9.443380,147.220001,Papua New Guinea,Oceania,POM,AYPY,146,0.125000,95.0

In [59]:
merge.to_csv('../data/airports.csv')

In [60]:
result = merge.sort_values("degree", ascending=False)
result

,Airport_ID,Name,lat,lon,country,continent,IATA,ICAO,Altitude,cluster_coefficient,degree
3489,3682,Hartsfield Jackson Atlanta International Airport,33.636700,-84.428101,United States,North America,ATL,KATL,1026,0.113714,1826.0
3633,3830,Chicago O'Hare International Airport,41.978600,-87.904800,United States,North America,ORD,KORD,672,0.126195,1103.0
502,507,London Heathrow Airport,51.470600,-0.461941,United Kingdom,Europe,LHR,EGLL,83,0.214340,1043.0
3180,3364,Beijing Capital International Airport,40.080101,116.584999,China,Asia,PEK,ZBAA,116,0.129856,1039.0
1346,1382,Charles de Gaulle International Airport,49.012798,2.550000,France,Europe,CDG,LFPG,392,0.144275,1038.0
3294,3484,Los Angeles International Airport,33.942501,-118.407997,United States,North America,LAX,KLAX,125,0.184501,986.0
336,340,Frankfurt am Main International Airport,50.033333,8.570556,Germany,Europe,FRA,EDDF,364,0.146291,974.0
3477,3670,Dallas Fort Worth International Airport,32.896801,-97.038002,United States,North America,DFW,KDFW,607,0.126962,934.0
3601,3797,John F Kennedy International Airport,40.639801,-73.778900,United States,North America,JFK,KJFK,13,0.196040,907.0
574,580,Amsterdam Airport Schiphol,52.308601,4.763890,Netherlands,Europe,AMS,EHAM,-11,0.147901,896.0
3134,3316,Singapore Changi Airport,1.350190,103.994003,Singapore,Asia,SIN,WSSS,22,0.171798,812.0
3217,3406,Shanghai Pudong International Airport,31.143400,121.805000,China,Asia,PVG,ZSPD,13,0.163250,811.0
1186,1218,Barcelona International Airport,41.297100,2.078460,Spain,Europe,BCN,LEBL,12,0.234338,778.0
3383,3576,Miami International Airport,25.793200,-80.290604,United States,North America,MIA,KMIA,8,0.179414,734.0
3727,3930,Incheon International Airport,37.469101,126.450996,South Korea,Asia,ICN,RKSI,23,0.190135,732.0
3555,3751,Denver International Airport,39.861698,-104.672997,United States,North America,DEN,KDEN,5431,0.130881,731.0
342,346,Munich International Airport,48.353802,11.786100,Germany,Europe,MUC,EDDM,1487,0.199610,718.0
1655,1701,Atatürk International Airport,40.976898,28.814600,Turkey,Asia,IST,LTBA,163,0.116119,703.0
2934,3077,Chek Lap Kok International Airport,22.308901,113.915001,Hong Kong,Asia,HKG,VHHH,28,0.210217,702.0
497,502,London Gatwick Airport,51.148102,-0.190278,United Kingdom,Europe,LGW,EGKK,202,0.169235,700.0
2102,2188,Dubai International Airport,25.252800,55.364399,United Arab Emirates,Asia,DXB,OMDB,62,0.136850,689.0
1514,1555,Leonardo da Vinci–Fiumicino Airport,41.800278,12.238889,Italy,Europe,FCO,LIRF,13,0.242296,658.0
1196,1229,Adolfo Suárez Madrid–Barajas Airport,40.471926,-3.562640,Spain,Europe,MAD,LEMD,1998,0.218979,655.0
3687,3885,Suvarnabhumi Airport,13.681100,100.747002,Thailand,Asia,BKK,VTBS,5,0.194678,652.0
3184,3370,Guangzhou Baiyun International Airport,23.392401,113.299004,China,Asia,CAN,ZGGG,50,0.170504,651.0
3816,4029,Domodedovo International Airport,55.408798,37.906300,Russia,Asia,DME,UUDD,588,0.074746,640.0
191,193,Lester B. Pearson International Airport,43.677200,-79.630600,Canada,North America,YYZ,CYYZ,569,0.192060,636.0
299,302,Brussels Airport,50.901402,4.484440,Belgium,Europe,BRU,EBBR,184,0.228698,627.0
3209,3395,Chengdu Shuangliu International Airport,30.578501,103.946999,China,Asia,CTU,ZUUU,1625,0.247129,623.0
473,478,Manchester Airport,53.353699,-2.274950,United Kingdom,Europe,MAN,EGCC,257,0.206991,615.0
...,...,...,...,...,...,...,...,...,...,...,...
7185,12028,Kerang Airport,-35.751400,143.938995,Australia,Oceania,KRA,YKER,254,NaN,NaN
7186,12029,Kempsey Airport,-31.074400,152.770004,Australia,Oceania,KPS,YKMP,54,NaN,NaN
7187,12030,Kingaroy Airport,-26.580799,151.841003,Australia,Oceania,KGY,YKRY,1492,NaN,NaN
7188,12031,Latrobe Valley Airport,-38.207199,146.470001,Australia,Oceania,TGN,YLTV,180,NaN,NaN
7189,12032,Mareeba Airport,-17.069201,145.419006,Australia,Oceania,MRG,YMBA,1560,NaN,NaN
7190,12033,Ngukurr Airport,-14.722800,134.746994,Australia,Oceania,RPM,YNGU,45,NaN,NaN
7191,12034,Narromine Airport,-32.214699,148.225006,Australia,Oceania,QRM,YNRM,782,NaN,NaN
7192,12035,Port Pirie Airport,-33.238899,137.994995,Australia,Oceania,PPI,YPIR,40,NaN,NaN
7193,12036,Smithton Airport,-40.834999,145.084000,Australia,Oceania,SIO,YSMI,31,NaN,NaN
7194,12037,Snake Bay Airport,-11.422800,130.654007,Australia,Oceania,SNB,YSNB,173,NaN,NaN
7195,12038,Stawell Airport,-37.071701,142.740997,Australia,Oceania,SWC,YSWL,807,NaN,NaN
7196,12039,Tibooburra Airport,-29.451099,142.057999,Australia,Oceania,TYB,YTIB,584,NaN,NaN
7197,12040,Tumut Airport,-35.262798,148.240997,Australia,Oceania,TUM,YTMU,878,NaN,NaN
7198,12041,Wangaratta Airport,-36.415798,146.307007,Australia,Oceania,WGT,YWGT,504,NaN,NaN
7199,12042,Warracknabeal Airport,-36.321098,142.419006,Australia,Oceania,WKB,YWKB,397,NaN,NaN
7200,12043,Warren Airport,-31.733299,147.802994,Australia,Oceania,QRR,YWRN,669,NaN,NaN
7201,12044,West Sale Airport,-38.090827,146.965335,Australia,Oceania,SXE,YWSL,72,NaN,NaN
7202,12045,West Wyalong Airport,-33.937199,147.190994,Australia,Oceania,WWY,YWWL,859,NaN,NaN
7203,12046,Young Airport,-34.255600,148.248001,Australia,Oceania,NGA,YYNG,1267,NaN,NaN
7204,12047,Guangzhou MR Air Base,32.389400,111.695000,China,Asia,LHK,ZHGH,0,NaN,NaN
7205,12048,Shiyan Wudangshan Airport,32.591667,110.907778,China,Asia,WDS,ZHSY,0,NaN,NaN
7206,12049,Sunchon Air Base,39.415699,125.894997,North Korea,Asia,\N,ZKSC,141,NaN,NaN
7207,12050,Huatugou Airport,38.201984,90.841495,China,Asia,HTT,ZLHX,2945,NaN,NaN
7208,12051,Baruun Urt Airport,46.660301,113.285004,Mongolia,Asia,UUN,ZMBU,3205,NaN,NaN
7209,12052,Bengbu Airport,32.847733,117.320244,China,Asia,BFU,ZSBB,100,NaN,NaN
7210,12053,Rugao Air Base,32.257885,120.501656,China,Asia,RUG,ZSRG,0,NaN,NaN
7211,12054,Wuhu Air Base,31.390600,118.408997,China,Asia,WHU,ZSWU,0,NaN,NaN
7212,12055,Shanshan Airport,42.911701,90.247498,China,Asia,SXJ,ZWSS,0,NaN,NaN
7213,12056,Yingkou Lanqi Airport,40.542524,122.358600,China,Asia,YKH,ZYYK,0,NaN,NaN
7214,12057,Shenyang Dongta Airport,41.784401,123.496002,China,Asia,\N,ZYYY,0,NaN,NaN

## Intercontinental routes and airports

In [217]:
// To delete the tuples with non defined values for Source or Destination Airport
edges_df2=edges_df.replace('\\N',0)

In [218]:
// Data type conversion
edges_df2['Source_Airport_ID']=edges_df2['Source_Airport_ID'].astype(int)
edges_df2['Destination_Airport_ID']=edges_df2['Destination_Airport_ID'].astype(int)
//To delete the useless columns
edges_df2=edges_df2.drop(columns=['Airline','Airline_ID','Source_Airport','Destination_Airport','Codeshare','Stops','Equipment'])

In [219]:
edges_df2.head()

   Source_Airport_ID  Destination_Airport_ID
0               2965                    2990
1               2966                    2990
2               2966                    2962
3               2968                    2990
4               2968                    4078

In [220]:
//To delete the useless columns
merge2=merge.drop(columns=['Name','lat','lon','country','IATA','ICAO','Altitude'])

In [221]:
merge2.head()

   Airport_ID continent  cluster_coefficient  degree
0           1   Oceania             1.000000    10.0
1           2   Oceania             0.571429    16.0
2           3   Oceania             0.388889    22.0
3           4   Oceania             0.388889    22.0
4           5   Oceania             0.125000    95.0

In [222]:
//To delete the tuples with non defined values for Source or Destination Airport
merge2=merge2.replace('\\N',0)
//data type conversion
merge2['Airport_ID']=merge2['Airport_ID'].astype(int)

In [223]:
// Joint of the tables to associate a continent to the source Airport
merge3 = edges_df2.merge(merge2, left_on='Source_Airport_ID',right_on='Airport_ID')

In [224]:
merge3.head()

,Source_Airport_ID,Destination_Airport_ID,Airport_ID,continent,cluster_coefficient,degree
0,2965,2990,2965,Asia,0.51634,52.0
1,2965,2979,2965,Asia,0.51634,52.0
2,2965,1735,2965,Asia,0.51634,52.0
3,2965,2954,2965,Asia,0.51634,52.0
4,2965,2983,2965,Asia,0.51634,52.0

In [225]:
//Rename of the Source Airport Continent column
merge3=merge3.rename(columns={'continent':'Source_Continent'})
//To delete useless columns
merge3=merge3.drop(columns=['Airport_ID'])
merge2_red=merge2.drop(columns=['cluster_coefficient','degree'])
merge2_red.head()

   Airport_ID continent
0           1   Oceania
1           2   Oceania
2           3   Oceania
3           4   Oceania
4           5   Oceania

In [226]:
//Joint of the tables to associate a continent to the destination Airport
merge4 = merge3.merge(merge2_red, left_on='Destination_Airport_ID',right_on='Airport_ID')

In [227]:
// Rename and drop columns
merge4=merge4.rename(columns={'continent':'Destination_Continent'})
merge4=merge4.drop(columns=['Airport_ID'])
merge4.head()

,Source_Airport_ID,Destination_Airport_ID,Source_Continent,cluster_coefficient,degree,Destination_Continent
0,2965,2990,Asia,0.516340,52.0,Asia
1,2966,2990,Asia,0.571429,16.0,Asia
2,2968,2990,Asia,0.549451,40.0,Asia
3,4029,2990,Asia,0.074746,640.0,Asia
4,4029,2990,Asia,0.074746,640.0,Asia

In [228]:
// All flights coming from Asia
len(merge4[merge4['Source_Continent']=='Asia'])

22565

In [229]:
//All flights going to Asia
len(merge4[merge4['Destination_Continent']=='Asia'])

22572

In [230]:
// All flights coming from Europe
len(merge4[merge4['Source_Continent']=='Europe'])

18860

In [231]:
//All flights going to Europe
len(merge4[merge4['Destination_Continent']=='Europe'])

18851

In [232]:
// All flights coming from South America
len(merge4[merge4['Source_Continent']=='South America'])

3031

In [233]:
//All flights going to South America
len(merge4[merge4['Destination_Continent']=='South America'])

3028

In [234]:
// All flights coming from North America
len(merge4[merge4['Source_Continent']=='North America'])

17135

In [235]:
//All flights going to North America
len(merge4[merge4['Destination_Continent']=='North America'])

17124

In [236]:
//All flights coming from Africa
len(merge4[merge4['Source_Continent']=='Africa'])

3223

In [237]:
//All flights going to Africa
len(merge4[merge4['Destination_Continent']=='Africa'])

3230

In [238]:
//All flights coming from Oceania
len(merge4[merge4['Source_Continent']=='Oceania'])

1920

In [239]:
//All flights going to Oceania
len(merge4[merge4['Destination_Continent']=='Oceania'])

1929

In [259]:
//Number of Intercontinental Routes
len(merge4[merge4.Destination_Continent!=merge4.Source_Continent])

10214

In [241]:
//Number of Intracontinental Routes
len(merge4[merge4.Destination_Continent==merge4.Source_Continent])

56703

In [242]:
//International Routes from Asia to Europe
len(merge4[(merge4['Destination_Continent']=='Europe')&(merge4['Source_Continent']=='Asia')])

1592

In [243]:
//International Routes from Europe to Asia
len(merge4[(merge4['Destination_Continent']=='Asia')&(merge4['Source_Continent']=='Europe')])

1593

In [244]:
//International Routes from North America to Europe
len(merge4[(merge4['Destination_Continent']=='Europe')&(merge4['Source_Continent']=='North America')])

999

In [245]:
//International Routes from Europe to North America
len(merge4[(merge4['Destination_Continent']=='North America')&(merge4['Source_Continent']=='Europe')])

998

In [246]:
//International Routes from North America to Asia
len(merge4[(merge4['Destination_Continent']=='Asia')&(merge4['Source_Continent']=='North America')])

366

In [247]:
//International Routes from Asia to North America
len(merge4[(merge4['Destination_Continent']=='North America')&(merge4['Source_Continent']=='Asia')])

363

In [248]:
//Intercontinental Routes in North America
len(merge4[(merge4['Destination_Continent']=='North America')&(merge4['Source_Continent']=='North America')])

15240

In [249]:
//Intercontinental Routes in Europe
len(merge4[(merge4['Destination_Continent']=='Europe')&(merge4['Source_Continent']=='Europe')])

15383

In [250]:
//Intercontinental Routes in Asia
len(merge4[(merge4['Destination_Continent']=='Asia')&(merge4['Source_Continent']=='Asia')])

19930

In [251]:
//Intercontinental Routes in Oceania
len(merge4[(merge4['Destination_Continent']=='Oceania')&(merge4['Source_Continent']=='Oceania')])

1628

In [252]:
//Intercontinental Routes in South America
len(merge4[(merge4['Destination_Continent']=='South America')&(merge4['Source_Continent']=='South America')])

2450

In [253]:
//Intercontinental Routes in Africa
len(merge4[(merge4['Destination_Continent']=='Africa')&(merge4['Source_Continent']=='Africa')])

2072

In [260]:
//Intercontinental airports 
IFroutes=merge4[merge4.Destination_Continent!=merge4.Source_Continent]
len(IFroutes['Source_Airport_ID'].unique())

596

In [256]:
//Intercontinental airports in Asia
IFroutesAsia=IFroutes[IFroutes['Source_Continent']=='Asia']
len(IFroutesAsia['Source_Airport_ID'].unique())

145

In [257]:
//Intercontinental airports in Europe
IFroutesUE=IFroutes[IFroutes['Source_Continent']=='Europe']
len(IFroutesUE['Source_Airport_ID'].unique())

183

In [258]:
//Intercontinental airports in North America
IFroutesNA=IFroutes[IFroutes['Source_Continent']=='North America']
len(IFroutesNA['Source_Airport_ID'].unique())

87