In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [45]:
path = "flight_data/"

nodes_col_Names = ['Airport_ID', 'Name', 'City', 'Country', 'IATA', 'ICAO', 'Latitude', 'Longitude', 'Altitude', 'Timezone', 'DST', 'Tz_database_time_zone', 'Type', 'Source']
edges_col_Names = ['Airline', 'Airline_ID', 'Source_Airport', 'Source_Airport_ID', 'Destination_Airport', 'Destination_Airport_ID', 'Codeshare', 'Stops', 'Equipment']

nodes_df = pd.read_csv(path+'/airports.dat', names = nodes_col_Names)
edges_df = pd.read_csv(path+'/routes.dat', names = edges_col_Names)

nodes_df.shape

(7184, 14)

In [46]:
c_1 = pd.read_csv('data/Countries-Continents.csv')
c_1.loc[len(c_1)]=['Asia','Russia'] 
c_1.loc[len(c_1)]=['North America','United States'] 
c_1.loc[len(c_1)]=['Africa','Cote d\'Ivoire'] 
c_1.loc[len(c_1)]=['Africa','Congo (Kinshasa)'] 
c_1.loc[len(c_1)]=['Asia','South Korea'] 
c_1.loc[len(c_1)]=['Asia','Burma'] 
c_1.loc[len(c_1)]=['Europe','Czech Republic'] 
c_1.loc[len(c_1)]=['Asia','North Korea'] 
c_1.loc[len(c_1)]=['Antarctica','Antarctica'] 
c_1.loc[len(c_1)]=['Antarctica','Antarctica'] 
c_1.loc[len(c_1)]=['Asia','Taiwan'] 
c_1.loc[len(c_1)]=['Africa','Congo (Brazzaville)'] 
c_1.loc[len(c_1)]=['Africa','Reunion'] 
c_1.loc[len(c_1)]=['Asia','West Bank'] 
c_1.loc[len(c_1)]=['Asia','Taiwan'] 
c_1.loc[len(c_1)]=['North America','Greenland'] 
c_1.loc[len(c_1)]=['Africa','Burkina Faso'] 
c_1.loc[len(c_1)]=['Europe','Guernsey'] 
c_1.loc[len(c_1)]=['Europe','Jersey']
c_1.loc[len(c_1)]=['Europe','Isle of Man']
c_1.loc[len(c_1)]=['Europe','Isle Of Man']
c_1.loc[len(c_1)]=['South America','Falkland Islands'] 
c_1.loc[len(c_1)]=['Africa','Dzaoudzi'] 
c_1.loc[len(c_1)]=['North America','Saint Pierre and Miquelon'] 
c_1.loc[len(c_1)]=['Europe','Gibraltar']
c_1.loc[len(c_1)]=['South America','British Virgin Islands']
c_1.loc[len(c_1)]=['Oceania','Faroe Islands']
c_1.loc[len(c_1)]=['Oceania','French Polynesia']
c_1.loc[len(c_1)]=['South America','Puerto Rico']
c_1.loc[len(c_1)]=['South America','Guadeloupe']
c_1.loc[len(c_1)]=['Oceania','New Caledonia']
c_1.loc[len(c_1)]=['Oceania','Cocos (Keeling) Islands']
c_1.loc[len(c_1)]=['South America','Turks and Caicos Islands']
c_1.loc[len(c_1)]=['Oceania','Cook Islands']
c_1.loc[len(c_1)]=['Europe','Svalbard']
c_1.loc[len(c_1)]=['South America','American Samoa']
c_1.loc[len(c_1)]=['South America','French Guiana']
c_1.loc[len(c_1)]=['Asia','Guam']
c_1.loc[len(c_1)]=['Asia','Northern Mariana Islands']
c_1.loc[len(c_1)]=['South America','Virgin Islands']
c_1.loc[len(c_1)]=['Europe','Netherlands Antilles']
c_1.loc[len(c_1)]=['Asia','Hong Kong']
c_1.loc[len(c_1)]=['Oceania','Christmas Island']
c_1.loc[len(c_1)]=['North America','Bermuda']
c_1.loc[len(c_1)]=['Africa','Western Sahara']
c_1.loc[len(c_1)]=['North America','Cayman Islands']


nodes_df = nodes_df.merge(c_1, on='Country', how="left")
nodes_df.sort_values(by="Altitude", ascending=False)
nodes_df.shape

(7215, 15)

In [94]:
# show airports without continent -> missing -> add manually above
nodes_df[nodes_df['Continent'].isnull()].shape

(17, 15)

In [30]:
nodes_df["Continent"].value_counts()

North America    2151
Asia             1618
Europe           1471
Africa            707
South America     690
Oceania           547
Antarctica         14
Name: Continent, dtype: int64

In [91]:
nodes_df_export = nodes_df[['Latitude','Longitude','Country','Continent','Airport_ID','IATA']]
nodes_df_export = nodes_df_export.set_index('Airport_ID')
nodes_df_export.columns = [ 'lat', 'lon', 'country', 'continent', 'IATA']
nodes_df_export.to_csv('../data/airports.csv')
nodes_df_export.head()

                 lat         lon           country continent IATA
Airport_ID
1          -6.081690  145.391998  Papua New Guinea   Oceania  GKA
2          -5.207080  145.789001  Papua New Guinea   Oceania  MAG
3          -5.826790  144.296005  Papua New Guinea   Oceania  HGU
4          -6.569803  146.725977  Papua New Guinea   Oceania  LAE
5          -9.443380  147.220001  Papua New Guinea   Oceania  POM

In [96]:
_dict = nodes_df_export.to_dict(orient='records')
_dict[1]

{'lat': -5.20707988739,
 'lon': 145.789001465,
 'country': 'Papua New Guinea',
 'continent': 'Oceania',
 'IATA': 'MAG'}